@use './index.scss';
@use './positionMarker.scss';
@use './infoCard.scss';

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.form-group {
  display: flex;
  margin: 5% 0;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
