@use './index.scss';
@use './positionMarker.scss';
@use './infoCard.scss';
@use './loadingScreen.scss';
@use './header.scss';
@use './footer.scss';



* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  margin: 0;
  width: 100%;
  overflow: hidden;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

.content {
  
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 8px;

}

.form-group {
  display: flex;
  margin: 5% 0;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
