.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .loading-div {
        background-color: #fff;
        min-height: 15%;
        min-width: 25%;
        display: grid;
        border-radius: 15px;

        .loading-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #000;
            border-radius: 15px;
            margin: 2%;
            flex-wrap: wrap;
        }
    }
    
    .loading-svg {
        margin: 0 5%;
        animation: rotation 3s infinite linear;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
