.position-marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-radius: 9999px;
        color: white;
        background-color: lightblue;
        height: 80px;
        width: 80px;
        cursor: pointer;

        .circle .active {
            border: 4px solid #fff;
        }

    }

    .name-tag {
        background-color: aqua;
        margin: 5px 0 10px;
        padding: 1% 5%;
        min-width: 50%;
        min-height: 25%;
        overflow: hidden;
        word-break: break-word;
        border-radius: 15px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        cursor: pointer;
    }

    &:hover, &.active {
        
        transform: scale(1.25);
        transition: scale 5s ease;

        .circle {
            box-shadow: 0 0 10px #fff;
            transition: box-shadow 0.5s ease;
        }

    }


}